.hero
  .overlay

%img{src: "http://sk.lds.li/skitched-20121217-025412.jpg", alt: "World Purple Rain Hour", width: 1000, height: 1000}

.content
  %h1 This is World Purple Rain Hour
  %p
    It's just like Earth Hour, but instead the whole world is going to Listen to
    %a{href: "http://rd.io/x/QX4ldiJe2Ro"}
      Purple Rain
    all as one.
  %p
    Expect to see overflowing maternity wards nine months later.
  %p
    Follow
    %a{href: "http://twitter.com/purplerainhour"}
      @PurpleRainHour
    to get in on this.
