.hero
  .overlay

%img{src: "http://sk.lds.li/skitched-20121217-025412.jpg", alt: "World Purple Rain Hour", width: 1000, height: 1000}


.content
  %h1 This is World Purple Rain Hour
  
  %p
    On the 21st Dec 2012, at precisely 12am UTC the world will greet its end by blasting out
    %a{href: "http://rd.io/x/QX4ldiJe2Ro"} Purple Rain
    together in unison. 
  %p
    It's just like Earth Hour, only far sexier. If the world doesn't end, maternity wards will be overflowing in nine months time.

  %p
    Follow
    %a{href: "http://twitter.com/purplerainhour"} @PurpleRainHour
    to get in on this
  %p
    This is going to happen simultaneously worldwide, so these are the local times
    %ul
      %li
        Lake Minnetonka, USA - 6pm December 20th
      %li
        Melbourne, Australia - 11am December 21st
      %li
        London, England - Midnight December 21st
      %li
        San Fransisco, USA - 4pm December 20th
      %li
        Tokyo, Japan - 9am December 21st

    Check
    %a{href: "http://everytimezone.com/#2012-12-21,-720,6be"} every time zone for yours if not listed

  %p
    The hashtag for all your twittering and instagramming needs is #purplerainhour

  = haml :addthis_buttons
