!!! 5
%html
  %head
    %title
      World Purple Rain Hour 
    :css
      * { box-sizing: border-box; }
      img { display: block; margin: 0 auto;}
      body { font-family: Helvetica, Arial, sans-serif; }
      p {
        font-size: 1.7em;
        line-height: 1.6;
        text-align: center;
        width: 1000px;
        margin: 20px auto;
      }

%body

  = yield

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-708262-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
